/* Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Global Styles */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #6524ce;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/* Landing Page Styles */

.container {
	height: 20vh;
	width: 70vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.container .nav {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	font-size: larger
}

 .container .nav > a {
	text-decoration: none;
	color: #fff;
	font-weight: bolder;
	border: 1px solid white;
	padding: 0.5rem 0.75rem;
	border-radius: 1rem;
	background-color: rgba(255, 255, 255, 0.1);
}

.container .nav > a:hover {
	color: #6524ce;
	background-color: rgba(255, 255, 255);
	transform: scale(1.1);
	transition: transform 150ms ease-in;
}

/* EasyPass - Password Generator Styles*/

.pw-gen-container {
    background-color: rgb(41, 11, 71);
    width: 50%;
    margin: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
	padding: 20px;
}

.pw-gen-container h2 {
    margin: 3rem;
    text-align: center;
    letter-spacing: 1px;
}

.pw-gen-output {
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	font-size: 18px;
	letter-spacing: 1px;
	padding: 12px 10px;
	height: 50px;
	width: 100%;
}

.pw-gen-output #generatedpassword {
  	word-wrap: break-word;
	max-width: calc(100% - 40px);
}

.pw-gen-output .copybtn {
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
	height: 40px;
	width: 40px;
}

.copybtn {
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	padding: 8px 12px;
	background-color: #3B3B98;
}

.pw-gen-options {
    width: 100%;
}

.pw-gen-option {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px 0;
}

.pw-gen-option input[type=checkbox] {
	margin-right: 0;
}

#pw-gen-lengthError {
    color: red;
}

.pw-gen-btn {
    display: block;
    border: none;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	padding: 8px 12px;
	background-color: #3B3B98;
    width: 100%;
}

@media screen and (max-width: 400px) {
	.pw-gen-output {
		font-size: 14px;
	}
}

/* EasyPass - Password Strength Checker Styles*/

.pw-stgt-check-container {
	background-color: rgb(41, 11, 71);
    width: 60%;
    margin: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
	padding: 20px;
}

.pw-stgt-check-container h1 {
	margin: 2rem 1rem;
    text-align: center;
    letter-spacing: 1px;
}

.strength-meter {
	position: relative;
	height: 2.5rem;
	width: 100%;
	border: 3px solid hsl(261, 88%, 50%);
	border-radius: 1rem;
	overflow: hidden;
}

.strength-meter::before {
	content: "";
	position: absolute;
	left: 0;
	height: 100%;
	width: calc(1% * var(--strength-value, 0));
	background-color: hsl(261, 88%, 80%);
	transition: width 200ms ease;
}

.entrypoint {
	width: 100%;
}

.password-input {
	margin: 2rem 0;
	width: 93%;
	padding: 0.25rem 0.75rem;
	border: 2px solid hsl(261, 88%, 70%);
	background-color: #3B3B98;
	color: white;
	outline: none;
	height: 3rem;
	font-size: larger;
	border-radius: 0.5rem;
	text-align: center;
}

.password-input:focus {
	outline: none;
	border: 2px solid hsl(261, 88%, 90%);
}

#icon {
	margin-left: 0.5rem;
	cursor: pointer;
}

.criteria > * {
	margin-top: 0.75rem;
}